.inputBox {
  display: flex;
  width: 100%;
  padding: 8px 12px;
}
.main-container {
  position: relative;
}
.resultContainer {
  position: absolute;
  max-height: 200px;
  overflow: scroll;
  top: 70px;
  border: 1px solid grey;
  width: 100%;
  border-radius: 4px;
}
.resultItem{
    border-bottom: 1px solid #f4f4f4;
}
.resultTitle{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 8px 12px;
    text-align: left;
    cursor: pointer;
    background-color: burlywood;
}
.resultTitle:hover {
    background-color: azure;
}
.resultItem--selected >div{
    background-color:cadetblue!important;
}
