@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.clock__container {
    padding: 4px 8px;
    border: 2px solid grey;
    border-radius: 12px;
    font-size: 48px;
    width: fit-content;
    background-color: black;
    color: white;
    font-family: "VT323", monospace;
    font-variant-numeric: tabular-nums; /* Critical for fixed-width digits */
}
